body{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
nav{
    height: 6.5rem;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    padding: 0px 0.5rem;
    position: fixed;
    width: 100%;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* Mobile responsiveness */
@media (max-width: 768px){
    .logo img{
        width: 75px;
        height: 75px;
}
nav{
    padding: 0px 1rem;
    align-items: center;
}
}
.nav-menu{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(46, 2, 46);
}
.nav-menu :hover{
    color: lightslategray;
}
header{
    height: 100vh;
    width: 100%;
    background: url(./img/Torshov_park_bandstand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header h1{
    font-size: 3rem;
    background-color: teal;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 5px;
}
header p{
    font-size: 1.3rem;
    background-color: navy;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 400px;
    text-align: center;
    font-weight: 400;
}
section {
   width: 100%;
   height: 75vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 4rem 0rem; */
    background-color: skyblue;
}
.cards{
    display: flex;
    gap: 20px;
    padding: 2rem 0rem;
    padding-top: 100px;
}
.cards img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card{
    width: 250px;
}
/* Mobile responsiveness */
@media (max-width: 768px){
    .cards {
    display: flex;
    flex-direction: column;
}
section{
    height: 100vh;
    padding-top: 50px;
    margin-bottom: 100px;
}
}

/* styling the footer/cont*/

.plate{
    background: skyblue;
     border-radius: 10px;
     margin: 20px auto;
    gap: 30px;
    padding: 15px 30px;
    width: 450px;
    display: flex;
    font-size: 1.3rem;
    text-align: center;
}
.plate img{
    width: 200px;
    border-radius: 10px;
}
/* media queries for mobile phones */
@media ( max-width: 768px){
    .nav-menu{
        background: white;
        /* width: 100%; */
        height: 200px;
        font-size: 1.5rem;
        margin-top: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        right: 10px;
    }
    .plate{
     display: flex;
    border-radius: 10px;
    margin-top: 20px;
    gap: 8px;
    width: 320px;

    }
    .plate img{
   width: 130px;

}
}
 .plan{
    background-color: skyblue;
    gap: 4rem;
    padding: 20px;
}
.plan h2{
    text-align: center;
}
.cont{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.cont button{
    background-color: rgb(1, 179, 250);
    border-radius: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 250px;
    height: 50px;
}
.stuff{
    display: flex;
}
/* media queries for mobile phones */
@media ( max-width: 768px){
    .stuff{
        display: flex;
        flex-direction: column;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: skyblue;
    padding: 25px 25px;
    margin-top: 10px;
}
.text img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
 .text-bottom{
    background-color: rgb(5, 173, 239);
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* media queries for mobile phones */
@media ( max-width: 768px){
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
.text{
    display: flex;
    flex-direction: column;
}
}


























